<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Course App{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .sidebar {
            width: 250px;
            background-color: #f4f4f4;
            padding: 20px;
        }
        .main-content {
            flex-grow: 1;
            padding: 20px;
        }
    </style>
</head>
<body class="bg-gray-50">
    <nav class="bg-white shadow-lg p-2">
       <div class="container mx-auto flex justify-between items-center">
        <a href="{% url 'course:course_list' %}" class="text-2xl font-bold">CourseApp</a>
        <div class="flex space-x-10">
            {% if user.is_authenticated %}
            <p>{{user.is_authenticated }}</p>
            <a href="{{user.get_absolute_url}}" class="hover:text-gray-600">Your Profile</a>
            <a href="#" class="hover:text-gray-600">Your Courses</a>
            <a href="{% url 'course:logout' %}" class="hover:text-gray-600">Logout</a>  
            {% else %}
            <p>{{user.is_authenticated }}</p>
                <a href="{% url 'login' %}" class="hover:text-gray-600">Login</a>
                <a href="{% url 'signup' %}" class="hover:text-gray-600">SignUp</a>
            {% endif %}
        </div>
    </div>
    </nav>
    <main class=" mt-4 container mx-auto">
        <div class="main-content bg-white shadow-md rounded-lg">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="bg-gray-800 text-white p-4 mt-8">
        <div class="container mx-auto text-center">
            <p>© 2024 CourseApp. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
